---
apiVersion: v1
kind: Service
metadata:
  name: {{ .Topology.Consumer.Name }}
  namespace: {{ .Topology.Consumer.Namespace }}
  labels:
    app: {{ .Topology.Consumer.Name }}
  annotations:
    prometheus.io/scrape: "true"            # Enable scraping
    prometheus.io/port: "{{ .Topology.Consumer.Spec.ExporterPort }}"              # Port the exporter listens on
    prometheus.io/path: "/metrics"          # Metrics endpoint (default for most exporters)
spec:
  selector:
    app: {{ .Topology.Consumer.Name }}
  ports:
    - name: http
      port: {{ .Topology.Consumer.Spec.ExporterPort }}
      targetPort: {{ .Topology.Consumer.Spec.ExporterPort }}
  type: ClusterIP