---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Topology.Producer.Name }}
  namespace: {{ .Topology.Producer.Namespace }}
spec:
  replicas: {{ .Topology.Producer.Spec.Replicas }}
  selector:
    matchLabels:
      app: {{ .Topology.Producer.Name }}
  template:
    metadata:
      labels:
        app: {{ .Topology.Producer.Name }}
    spec:
      hostNetwork:  {{ .Topology.Producer.Spec.HostNetwork }}
      containers:
      - name: {{ .Topology.Producer.Name }}
        image: nginx
        command: {{ .Topology.Producer.Spec.Commands }}
        args:
        {{- range $keyVal := .Topology.Producer.Spec.Args }}
        - "{{ $keyVal }}"
        {{- end }}
        ports:
        - containerPort: {{ .Topology.Producer.Spec.Port }}
{{- if .Topology.Producer.Spec.AntiAffinity }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
{{- range $keyVal := .Topology.Producer.Spec.TopologyKeys }}
                {{- range $key, $val := $keyVal }}
              - key: {{ $key }}
                operator: In
                values:
                - {{ $val }}
                {{- end }}
{{- end }}
            topologyKey: "kubernetes.io/hostname"
{{- end }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Topology.Consumer.Name }}
  namespace: {{ .Topology.Consumer.Namespace }}
spec:
  replicas: {{ .Topology.Consumer.Spec.Replicas }}
  selector:
    matchLabels:
      app: {{ .Topology.Consumer.Name }}
  template:
    metadata:
      labels:
        app: {{ .Topology.Consumer.Name }}
    spec:
      hostNetwork:  {{ .Topology.Consumer.Spec.HostNetwork }}
      volumes:
      - name: metrics-data
        emptyDir: {}
      containers:
      - name: {{ .Topology.Consumer.Name }}-exporter
        image: {{ .Topology.Consumer.Spec.ExporterImage }}
        volumeMounts:
        - name: metrics-data
          mountPath: /opt/metrics/
        ports:
        - containerPort: 9001
      - name: {{ .Topology.Consumer.Name }}
        image: {{ .Topology.Consumer.Spec.Image }}
        volumeMounts:
        - name: metrics-data
          mountPath: /opt/metrics/
        command: {{ .Topology.Consumer.Spec.Commands }}
        args:
        {{- range $keyVal := .Topology.Consumer.Spec.Args }}
        - "{{ $keyVal }}"
        {{- end }}
        ports:
        - containerPort: {{ .Topology.Consumer.Spec.Port }}
{{- if .Topology.Consumer.Spec.AntiAffinity }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
{{- range $keyVal := .Topology.Consumer.Spec.TopologyKeys }}
                {{- range $key, $val := $keyVal }}
              - key: {{ $key }}
                operator: In
                values:
                - {{ $val }}
                {{- end }}
{{- end }}
            topologyKey: "kubernetes.io/hostname"
{{- end }}